<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.SpringBoot.dao.NoticeImp">
	<select id="select" resultType="com.SpringBoot.bean.Notice">
		select * from sys_notice
		<where>
			<if test="title!=null">
		    and title like '%${title}%'
		    </if>
		    <if test="opername!=null">
		    and opername like '%${opername}%'
		    </if>
		</where>
		limit #{index},#{limit}
	</select>
	
	<delete id="delect">
		delete from sys_notice where id = #{id}
	</delete>
	
	<insert id="insert">
		insert into sys_notice (title,content,createtime,opername) values (#{title},#{content},#{createtime},#{opername})
	</insert>
	
	<update id="update">
		update sys_notice set content=#{content} where id = #{id}
	</update>
	
	<select id="selectById" resultType="com.SpringBoot.bean.Notice">
		select * from sys_notice where id=#{id}
	</select>
</mapper>