<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.SpringBoot.dao.RoleImp">
	
	<select id="select" resultType="com.SpringBoot.bean.Role" >
		select * from sys_role
		<where>
			<if test="name!=null">
			    and name like '%${name}%'
			</if>
			<if test="remark!=null">
			    and remark like '%${remark}%'
			</if>
			<if test="available!=null">
			    and available like '%${available}%'
			</if>
		</where>
		limit #{index},#{limit}
	</select>
	
	<insert id="insertRole">
		insert into sys_role(name,remark,available,createtime)
		values
		(#{name},#{remark},#{available},#{createtime})
	</insert>
	
	<update id="updateRole">
		update sys_role set name=#{name},remark=#{remark},available=#{available},createtime=#{createtime}
		where id=#{id}
	</update>
	
	<delete id="delete">
		delete from sys_role where id=#{id}
	</delete>

</mapper>